<div class="flex justify-between">
  <h1 class="text-3xl font-bold text-left ml-20 my-10">基本情報入力</h1>
  <!-- PFCの量を表示するためのコード -->
  <div class="mr-10 mt-5">
  <%# <%= render "shared/nutrient_amount" %>
  </div>
</div>


<!-- ここから入力フォーム -->
  <%= form_with model: @member_info, local: true do |f| %>
    <div class="flex gap-5 mt-5 items-end">
      <%= f.label :name, "名前", class: "form-control w-full max-w-xs" do %>
        <div class="label">
          <span class="label-text">名前</span>
        </div>
        <%= f.text_field :name, placeholder: "入力してください", class: "input input-bordered w-full max-w-xs" %>
      <% end %>
      <%= f.label :gender, "性別", class: "form-control w-full max-w-xs" do %>
        <div class="label">
          <span class="label-text">性別</span>
        </div>
        <%= f.select :gender, options_for_select([["選択してください", ""], *MemberInfo.genders.map { |k, v| [I18n.t("enums.member_info.gender.#{k}"), v] }]), {}, class: "select select-bordered" %>
      <% end %>
      <%= f.label :age, "年齢", class: "form-control w-full max-w-xs" do %>
        <div class="label">
          <span class="label-text">年齢</span>
        </div>
        <%= f.select :age, options_for_select((1..100).to_a.reverse), {}, class: "select select-bordered" %>
      <% end %>
      <%= f.label :height, "身長", class: "form-control w-full max-w-xs" do %>
        <div class="label">
          <span class="label-text">身長</span>
        </div>
        <%= f.text_field :height, placeholder: "入力してください", class: "input input-bordered w-full max-w-xs" %>
      <% end %>
      <%= f.label :weight, "体重", class: "form-control w-full max-w-xs" do %>
        <div class="label">
          <span class="label-text">体重 ※表示されません</span>
        </div>
        <%= f.text_field :weight, placeholder: "入力してください", class: "input input-bordered w-full max-w-xs" %>
      <% end %>
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<!-- メンバーリスト -->
<div class="overflow-x-auto mx-5">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>名前</th>
        <th>性別</th>
        <th>年齢</th>
        <th>身長</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% @member_infos.each do |member_info| %>
        <tr>
          <td>
            <div class="font-bold"><%= member_info.name %></div>
          </td>
          <td>
            <div class="font-bold"><%= member_info.gender %></div>
          </td>
          <td>
            <div class="font-bold"><%= member_info.age %></div>
          </td>
          <td>
            <div class="font-bold"><%= member_info.height %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "次へ", new_shopping_list_path, class: "btn btn-primary btn-wide my-5" %>