<div class="flex justify-between">
  <h1 class="text-3xl font-bold text-left ml-20 my-10">お買い物リスト作成</h1>
</div>

<!-- タンパク質食材のおすすめチェックリスト -->
<div class="ml-10 my-10">
  <%= form_with model: @food_item, local: true do |f| %>
    <%= f.hidden_field :shopping_list_id, value: @shopping_list.id %>
    <h1 class="text-2xl text-left ml-20 my-10">タンパク質</h1>
    <div class="form-control grid grid-cols-5 gap-8 mx-12">
      <% @proteins.each do |food| %>
        <label class="label cursor-pointer">
          <%= check_box_tag 'food_item_ids[]', food.id, false, class: "checkbox" %>
          <span class="label-text"><%= food.name %></span>
        </label>
      <% end %>
    </div>
    <h1 class="text-2xl text-left ml-20 my-10">脂質</h1>
    <div class="form-control grid grid-cols-5 gap-8 mx-12">
      <% @fats.each do |food| %>
        <label class="label cursor-pointer">
          <%= check_box_tag 'food_item_ids[]', food.id, false, class: "checkbox" %>
          <span class="label-text"><%= food.name %></span>
        </label>
      <% end %>
    </div>
    <h1 class="text-2xl text-left ml-20 my-10">炭水化物</h1>
    <div class="form-control grid grid-cols-5 gap-8 mx-12">
      <% @carbohydrates.each do |food| %>
        <label class="label cursor-pointer">
          <%= check_box_tag 'food_item_ids[]', food.id, false, class: "checkbox" %>
          <span class="label-text"><%= food.name %></span>
        </label>
      <% end %>
    </div>
    <%= f.submit "登録", class: "btn btn-primary btn-wide my-5" %>
  <% end %>
</div>