<div class="flex justify-between">
  <h1 class="text-3xl font-bold text-left ml-20 my-10">お買い物リスト作成</h1>
  <!-- PFCの量を表示するためのコード -->
  <div class="mr-10 mt-5">
    <%# <%= render "shared/nutrient_amount" %>
  </div>
</div>

<!-- 買いだめ日数の入力フォーム -->
<div class="ml-10 my-10">
  <%= form_with model: @shopping_list do |m| %>
    <div class="flex gap-5 mt-5 items-end">
    <%= m.label :stocking_days, "買いだめ日数", class: "form-control w-full max-w-xs" do %>
      <div class="label">
        <span class="label-text">買いだめ日数</span>
      </div>
      <%= m.select :stocking_days, options_for_select([["選択してください", ""], "1日", "2日", "3日", "4日", "5日", "6日", "7日"]), {}, class: "select select-bordered" %>
    <% end %>
    <%= m.submit "登録", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<%= link_to "次へ", new_food_item_path, class: "btn btn-primary btn-wide my-5" %>
