<h1 class="text-3xl font-bold text-left ml-20 my-10"><%= @shopping_list.created_at %>(日付)お買い物リスト</h1>
<!-- PFCの量を表示するためのコード -->
  <!-- TABLE for shopping list -->
<div class="overflow-x-auto mx-5">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>食品名</th>
        <th>数量/重量</th>
        <th>単位</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% @food_items.each do |food_item| %>
      <tr>
        <th>
          <div data-controller="checkbox">
            <label>
            <input type="checkbox" class="checkbox" data-id="<%= food_item.id %>" />
            </label>
          </div>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div>
              <div class="font-bold"><%= food_item.food.name %></div>
            </div>
          </div>
        </td>
        <td><%= food_item.quantity %></td>
        <td><%= food_item.unit %></td>
        <td><%= food_item.created_at %></td>
        <td>
        <th>
        </th>
      </tr>
      <% end %>
      <% @daily_necessity_items.each do |daily_necessity_item| %>
        <tr>
          <th>
            <div data-controller="checkbox">
              <label>
              <input type="checkbox" class="checkbox" data-id="<%= daily_necessity_item.id %>" />
              </label>
            </div>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div>
                <div class="font-bold"><%= daily_necessity_item.daily_necessity.name %></div>
              </div>
            </div>
          </td>
          <td><%= daily_necessity_item.quantity %></td>
          <td><%= daily_necessity_item.unit %></td>
          <td><%= daily_necessity_item.created_at %></td>
          <td>
          <th>
          </th>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= link_to "編集", edit_shopping_list_path(@shopping_list), class: "btn btn-primary" %>
  <%= link_to "戻る", shopping_lists_path, class: "btn btn-primary" %>
</div>